.timeline {
  padding: 0 !important;
}
/* header */

/* header title */

.timeline .timeline_header {
  padding-top: 7px;
}
.timeline .timeline_firstItem {
  min-height: 80px !important;
}

.timeline .MuiTimelineItem-root {
  min-height: 0px;
}
.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
.timeline .timeline_dot_header {
  background-color: var(--main-color) !important;
  color: black !important;
  font-size: small !important;
  padding: 10px !important;
}
/* Remaining Item */
.timeline .timeline_dot {
  background-color: var(--main-color);
  border-color: var(--main-color) !important;
  color: black !important;
  padding: 2px !important;
}
.timeline .MuiTimelineConnector-root {
  background-color: var(--main-color) !important;
}
.timeline .timeline_dot_header > .MuiSvgIcon-root {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.timeline .separator_padding {
  padding-left: 18px !important;
}
.title .timeline_content {
  padding-top: 0px !important;
  margin-bottom: 20px;
}
