.footer {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border-radius: 8px;
  padding: 20px 20px;
}
.footer .footer_coopyright {
  font-size: small;
  text-align: end;
  color: #9c9c9c;
}
.footer .footer_coopyright > a {
  text-decoration: none !important;
  color: var(--main-color);
}
